<header class="main-header">
  <div class="header-left">
    <a href="./index.html">
      <img class="logo" src="/img/svg/header/logo.svg" alt="New Balance">
    </a>

    <nav class="nav-menu">

      <div class="nav-item has-dropdown">
        <a href="./products.html?new=true">New</a>

        <div class="new-dropdown">

          <a href="./products.html?gender=men&new=true" class="new-card">
            <img src="/img/new/mens-arrivals.jpg" alt="">
            <span>Men's new arrivals</span>
          </a>

          <a href="./products.html?gender=women&new=true" class="new-card">
            <img src="/img/new/womens-arrivals.jpg" alt="">
            <span>Women's new arrivals</span>
          </a>

          <a href="./products.html?gender=kids&new=true" class="new-card">
            <img src="/img/new/kids-arrivals.jpg" alt="">
            <span>Kids' new arrivals</span>
          </a>

          <a href="#" class="new-card">
            <img src="/img/new/launch-calendar.jpg" alt="">
            <span>Launch calendar</span>
          </a>

          <a href="#" class="new-card">
            <img src="/img/new/football-collection.jpg" alt="">
            <span>The international football collection</span>
          </a>

        </div>
      </div>

      <div class="nav-item has-dropdown">
        <a href="./products.html?gender=men">Men</a>

        <div class="mega-menu">

          <div class="mega-column featured">
            <a href="products.html?gender=men&activity=soccer">Soccer</a>
            <a href="./products.html?new=true">New Arrivals</a>
            <a href="#">Top Styles</a>
            <a href="#">NB Lifestyle</a>
            <a href="#">Made in USA</a>
            <a href="#">Made in UK</a>
            <a href="#">Launch Calendar</a>
            <a href="#">Color Edit</a>
            <a href="#">Klutch Athletics</a>
            <a href="#">Reconsidered</a>
            <a href="./products.html?sale=true">Sale</a>
          </div>

          <div class="mega-column">
            <h4>SHOES</h4>
            <a href="products.html?gender=men&type=footwear&category=shoes">All Shoes</a>
            <a href="products.html?gender=men&type=footwear&activity=running">Running</a>
            <a href="products.html?gender=men&type=footwear&activity=lifestyle">Lifestyle</a>
            <a href="products.html?gender=men&type=footwear&activity=basketball">Basketball</a>
            <a href="products.html?gender=men&type=footwear&activity=football">Football</a>
            <a href="products.html?gender=men&type=footwear&activity=soccer">Soccer</a>
            <a href="products.html?gender=men&type=footwear&activity=tennis">Tennis</a>
            <a href="products.html?gender=men&type=footwear&activity=golf">Golf</a>
          </div>

          <div class="mega-column">
            <h4>CLOTHING</h4>
            <a href="products.html?gender=men&type=clothing">All Clothing</a>
            <a href="products.html?gender=men&type=clothing&category=shirts">Shirts</a>
            <a href="products.html?gender=men&type=clothing&category=shorts">Shorts</a>
            <a href="products.html?gender=men&type=clothing&category=pants">Pants</a>
            <a href="products.html?gender=men&type=clothing&category=hoodies%20%26%20sweatshirts">Hoodies & Sweatshirts</a>
            <a href="products.html?gender=men&type=clothing&category=jackets%20%26%20vests">Jackets & Vests</a>
          </div>

          <div class="mega-column">
            <h4>SPORTS</h4>

            <a href="products.html?gender=men&activity=soccer">Soccer</a>
            <a href="products.html?gender=men&activity=tennis">Tennis</a>
            <a href="products.html?gender=men&activity=running">Running</a>
            <a href="products.html?gender=men&activity=basketball">Basketball</a>
            <a href="products.html?gender=men&activity=football">Football</a>
          </div>

          <div class="mega-column">
            <h4>ACCESSORIES</h4>
            <a href="products.html?gender=men&type=accessories">All Accessories</a>
            <a href="products.html?gender=men&type=accessories&category=hats%20%26%20gloves">Hats & Gloves</a>
            <a href="products.html?gender=men&type=accessories&category=socks">Socks</a>
            <a href="products.html?gender=men&type=accessories&category=bags">Bags</a>
          </div>

        </div>
      </div>



      <div class="nav-item has-dropdown">
        <a href="./products.html?gender=women">Women</a>

        <div class="mega-menu">

          <div class="mega-column featured">
            <a href="#">Soccer</a>
            <a href="#">New Arrivals</a>
            <a href="#">Top Styles</a>
            <a href="#">NB Lifestyle</a>
            <a href="#">Made in USA</a>
            <a href="#">Made in UK</a>
            <a href="#">Launch Calendar</a>
            <a href="#">Seasonal Lookbook</a>
            <a href="#">Color Edit</a>
            <a href="#">Klutch Athletics</a>
            <a href="#">Reconsidered</a>
            <a href="#">Sale</a>
          </div>

          <div class="mega-column">
            <h4>SHOES</h4>

            <a href="#">All Shoes</a>
            <a href="#">Running</a>
            <a href="#">Lifestyle</a>
            <a href="#">Basketball</a>
            <a href="#">Football</a>
            <a href="#">Soccer</a>
            <a href="#">Tennis</a>
            <a href="#">Golf</a>
          </div>

          <div class="mega-column">
            <h4>CLOTHING</h4>

            <a href="#">All Clothing</a>
            <a href="#">Shirts</a>
            <a href="#">Shorts</a>
            <a href="#">Pants</a>
            <a href="#">Hoodies & Sweatshirts</a>
            <a href="#">Jackets & Vests</a>
          </div>

          <div class="mega-column">
            <h4>SPORTS</h4>

            <a href="#">Soccer</a>
            <a href="#">Tennis</a>
            <a href="#">Running</a>
            <a href="#">Basketball</a>
            <a href="#">Football</a>
          </div>

          <div class="mega-column">
            <h4>ACCESSORIES</h4>

            <a href="#">All Accessories</a>
            <a href="#">Hats & Gloves</a>
            <a href="#">Socks</a>
            <a href="#">Bags</a>
          </div>

        </div>
      </div>

      <div class="nav-item has-dropdown">
        <a href="./products.html?gender=kids">Kids</a>

        <div class="mega-menu">

          <div class="mega-column featured">
            <a href="#">Soccer</a>
            <a href="#">New Arrivals</a>
            <a href="#">School Uniform Shoes</a>
            <a href="#">Top Styles</a>
            <a href="#">Sibling Shop</a>
            <a href="#">Wide Shoes</a>
            <a href="#">Kid-friendly Closures</a>
            <a href="#"> Shoes under $75</a>
            <a href="#">Sale</a>
          </div>

          <div class="mega-column">
            <h4>SHOES</h4>

            <a href="#">All Shoes </a>
            <a href="#">Big Kids (Size 3.5 - 7)</a>
            <a href="#">Little Kids (Size 10.5 - 3)</a>
            <a href="#">Babies & Toddlers (Size 0 - 10)</a>
          </div>

          <div class="mega-column">
            <h4>CLOTHING</h4>

            <a href="#">All Clothing</a>
            <a href="#">Big Kids (Size 7Y - 16Y)</a>
            <a href="#"> Little Kids (Size 3Y - 6Y)</a>
            <a href="#">Babies & Toddlers (Size 12M - 3T)</a>
          </div>

          <div class="mega-column">
            <h4>SPORTS</h4>
            <a href="#">All Sports</a>
            <a href="#">Running</a>
            <a href="#">Baseball</a>
            <a href="#">Tennis</a>
            <a href="#">Lacrosse</a>
            <a href="#">Soccer</a>
          </div>

          <div class="mega-column">
            <h4>ACCESSORIES</h4>

            <a href="#">All Accessories</a>
            <a href="#">Socks</a>
            <a href="#">Bags</a>
            <a href="#">Hats</a>
            <a href="#">Gloves</a>
          </div>

        </div>
      </div>

      <div class="nav-item has-dropdown">
        <a href="./products.html?sale=true">Sale</a>

        <div class="mega-menu">

          <div class="mega-column featured">
            <h4>All Sale</h4>
            <a href="#">Under $50</a>
            <a href="#">Under $100</a>
          </div>

          <div class="mega-column">
            <h4>MEN</h4>

            <a href="#">Shoes</a>
            <a href="#">Clothing</a>
            <a href="#">Accessories</a>
          </div>

          <div class="mega-column">
            <h4>WOMEN</h4>

            <a href="#">Shoes</a>
            <a href="#">Clothing</a>
            <a href="#">Accessories</a>
          </div>

          <div class="mega-column">
            <h4>KIDS</h4>

            <a href="#">Shoes</a>
            <a href="#">Clothing</a>
            <a href="#">Accessories</a>
          </div>

        </div>
      </div>
    </nav>
  </div>

  <div class="header-icons">
    <img class="search-icon" src="/img/svg/header/search-icon.svg" alt="">
    <img class="account-icon" src="/img/svg/header/account-icon.svg" alt="">
    <img class="bag-icon" src="/img/svg/header/bag-icon.svg" alt="">
  </div>
</header>
