<header class="top-header">
  <div class="left-menu">
    <img class="US-flag" src="/img/svg/header/US.png" alt="">

    <a href="#">US</a>
    <span>|</span>

    <img class="location-pin" src="/img/svg/header/location-pin.svg" alt="">
    <a href="#">Select a Store</a>
    <span>|</span>

    <img class="recycle-icon" src="/img/svg/header/recycle-icon.svg" alt="">
    <a href="#">Reconsidered</a>
  </div>

  <div class="right-menu">
    <a href="#">English</a>
    <span>|</span>
    <a href="#">Help</a>
  </div>
</header>
